/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .cha {
    @apply text-cha sm:text-cha/2 md:text-cha/3 lg:text-cha/4
  }
  .desc {
    @apply text-desc sm:text-desc/2 md:text-desc/3 lg:text-desc/4
  }
}

a:hover {
  color: rgb(232, 162, 33);
  text-decoration: none;
  cursor: pointer;
}

/* a {
  user-select: none;
} */

button {
  border-radius: 0.25rem;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  background-color: white;
  color: black;
}

button:hover {
  background-color: rgb(232, 162, 33);
  color: white;
  cursor: pointer;
}

body {
  font-family: "Roboto", "Ma Shan Zheng", sans-serif;
  user-select: none;
  cursor: default;
}